.settingsCont {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform: scale(0);
  /* background-color: rgba(255, 255, 255, 0.109); */
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid var(--accent); */
  /* border-radius: 50px; */
  transition: 0.3s all ease-in-out;
}
.settingsInnerCont {
  backdrop-filter: blur(10px);
  width: 50%;
  height: 70%;

  padding: 20px;
  border: 2px solid var(--accent);
}
.backIcon {
  color: var(--accent);
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  cursor: pointer;
}
.backIcon:hover {
  transform: scale(1.2);
  color: white;
}
